/* * {
  border: 1px solid red;
} */

/* .graph {
  border: 1px solid red;
} */

/* .plot,
.plot > * > * > * {
	width: 50vw !important;
	border: 2px solid red;
} */

#wait {
	text-align: center;
}

/* .user-select-none,
.svg-container {
	width: 10vw !important;
	border: 1px solid red !important;
} */
